--
-- PostgreSQL database dump
--

\restrict WnpOLMHyhwbuehzf6TOyqVCzlsERvllahsrIcfx3cdEQxaqf7lXnKvjaZ5QFALY

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: kpi_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_category (
    category text NOT NULL,
    gmv numeric(14,2) DEFAULT 0 NOT NULL,
    net_revenue numeric(14,2) DEFAULT 0 NOT NULL,
    cogs numeric(14,2) DEFAULT 0 NOT NULL,
    gross_profit numeric(14,2) DEFAULT 0 NOT NULL,
    gross_margin_pct numeric(6,2) DEFAULT 0 NOT NULL,
    order_count integer DEFAULT 0 NOT NULL,
    avg_ticket numeric(12,2) DEFAULT 0 NOT NULL,
    total_discount numeric(14,2) DEFAULT 0 NOT NULL,
    cancellation_count integer DEFAULT 0 NOT NULL,
    return_count integer DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kpi_category OWNER TO postgres;

--
-- Name: kpi_channel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_channel (
    channel text NOT NULL,
    gmv numeric(14,2) DEFAULT 0 NOT NULL,
    net_revenue numeric(14,2) DEFAULT 0 NOT NULL,
    cogs numeric(14,2) DEFAULT 0 NOT NULL,
    gross_profit numeric(14,2) DEFAULT 0 NOT NULL,
    gross_margin_pct numeric(6,2) DEFAULT 0 NOT NULL,
    order_count integer DEFAULT 0 NOT NULL,
    avg_ticket numeric(12,2) DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kpi_channel OWNER TO postgres;

--
-- Name: kpi_clevel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_clevel (
    id smallint DEFAULT 1 NOT NULL,
    gmv numeric(16,2) DEFAULT 0 NOT NULL,
    net_profit numeric(16,2) DEFAULT 0 NOT NULL,
    avg_ticket numeric(12,2) DEFAULT 0 NOT NULL,
    total_orders integer DEFAULT 0 NOT NULL,
    total_discount numeric(16,2) DEFAULT 0 NOT NULL,
    cancellation_rate_pct numeric(6,2) DEFAULT 0 NOT NULL,
    return_rate_pct numeric(6,2) DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT single_row CHECK ((id = 1))
);


ALTER TABLE public.kpi_clevel OWNER TO postgres;

--
-- Name: kpi_seller; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_seller (
    seller_id text NOT NULL,
    seller_name text NOT NULL,
    store_id text NOT NULL,
    store_name text NOT NULL,
    region text NOT NULL,
    gmv numeric(14,2) DEFAULT 0 NOT NULL,
    net_revenue numeric(14,2) DEFAULT 0 NOT NULL,
    cogs numeric(14,2) DEFAULT 0 NOT NULL,
    gross_profit numeric(14,2) DEFAULT 0 NOT NULL,
    gross_margin_pct numeric(6,2) DEFAULT 0 NOT NULL,
    order_count integer DEFAULT 0 NOT NULL,
    avg_ticket numeric(12,2) DEFAULT 0 NOT NULL,
    avg_discount_pct numeric(6,2) DEFAULT 0 NOT NULL,
    total_discount numeric(14,2) DEFAULT 0 NOT NULL,
    target_gmv numeric(14,2) DEFAULT 0 NOT NULL,
    target_orders integer DEFAULT 0 NOT NULL,
    meta_achievement_pct numeric(6,2) DEFAULT 0 NOT NULL,
    gmv_rank smallint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kpi_seller OWNER TO postgres;

--
-- Name: kpi_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_status (
    status text NOT NULL,
    order_count integer DEFAULT 0 NOT NULL,
    gmv_impact numeric(14,2) DEFAULT 0 NOT NULL,
    pct_of_total numeric(6,2) DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kpi_status OWNER TO postgres;

--
-- Name: raw_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_events (
    event_id text NOT NULL,
    event_time timestamp with time zone NOT NULL,
    ingestion_time timestamp with time zone NOT NULL,
    order_id text NOT NULL,
    order_date date NOT NULL,
    customer_id text,
    seller_id text NOT NULL,
    seller_name text NOT NULL,
    store_id text NOT NULL,
    store_name text NOT NULL,
    region text NOT NULL,
    channel text NOT NULL,
    category text NOT NULL,
    product_id text NOT NULL,
    product_name text NOT NULL,
    quantity smallint NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    gross_amount numeric(12,2) NOT NULL,
    discount_pct numeric(8,6) NOT NULL,
    discount_amount numeric(12,2) NOT NULL,
    shipping_amount numeric(12,2) NOT NULL,
    net_revenue numeric(12,2) NOT NULL,
    cogs numeric(12,2) NOT NULL,
    status text NOT NULL,
    payment_method text NOT NULL,
    campaign text NOT NULL,
    target_gmv numeric(14,2),
    target_orders integer,
    processed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_events OWNER TO postgres;

--
-- Name: kpi_category kpi_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_category
    ADD CONSTRAINT kpi_category_pkey PRIMARY KEY (category);


--
-- Name: kpi_channel kpi_channel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_channel
    ADD CONSTRAINT kpi_channel_pkey PRIMARY KEY (channel);


--
-- Name: kpi_clevel kpi_clevel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_clevel
    ADD CONSTRAINT kpi_clevel_pkey PRIMARY KEY (id);


--
-- Name: kpi_seller kpi_seller_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_seller
    ADD CONSTRAINT kpi_seller_pkey PRIMARY KEY (seller_id);


--
-- Name: kpi_status kpi_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_status
    ADD CONSTRAINT kpi_status_pkey PRIMARY KEY (status);


--
-- Name: raw_events raw_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_events
    ADD CONSTRAINT raw_events_pkey PRIMARY KEY (event_id);


--
-- Name: idx_raw_events_evt_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raw_events_evt_time ON public.raw_events USING btree (event_time DESC);


--
-- Name: idx_raw_events_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raw_events_seller ON public.raw_events USING btree (seller_id);


--
-- Name: idx_raw_events_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raw_events_status ON public.raw_events USING btree (status);


--
-- PostgreSQL database dump complete
--

\unrestrict WnpOLMHyhwbuehzf6TOyqVCzlsERvllahsrIcfx3cdEQxaqf7lXnKvjaZ5QFALY

